<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
                <h1 class="display-4">Welcome to Classroom</h1>
                <hr class="my-4">
                <p class="lead">Register above or Log In below to attend classes.</p>
                <p class="lead">
                <a class="btn btn-success" href="Identity/Account/Login" role="button">Log in</a>
                </p>
        </div>
    </div>
</div>
